.contact_view_details_costumer_table_th {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 19.92px;
  text-align: left;
  color: rgba(128, 128, 128, 1);
 
}

.mannual-table-responsive {
  width: 100%;
}
