/* .meetings_participation_th {
  position: relative;
}
.meetings_participation_td {
  position: absolute;
  margin-top: 30px;
}
.meeings_participants_icon {
  margin-left: 10vw;
  margin-top: 2px;
}
.meetings_main_div {
  background-color: rgb(242, 235, 235);
  border: 1px solid black;
  padding: 2px 10px;
  border-radius: 10px;
  cursor: pointer;
} */

.participants_name {
  display: flex;
  flex-wrap: wrap;
}

