/* .login_left_container {
  flex-direction: column;
} */

.login_left_mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_back_button {
  width: 64px;
  height: 64px;
  margin: -140px 0 -40px 0;
  gap: 0px;
  border-radius: 32px;
  opacity: 0.8px;
  color: #ff6e3f;
  align-self: flex-start;
  cursor: pointer;
}

.login_forgot_password {
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.58px;
  text-align: right;
}

.login_forgot_password_link {
  color: #ff6e3f;
}

.signup_google_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login_page_input {
  font-size: small;
  width: 20vw;
  font-family: Roboto;
  font-size: small;
  font-weight: 500;
  line-height: 19.92px;
  color: #808080;
}

.loginPageErrorMessage {
  color: red;
  font-size: small;
  font-weight: 600;
  position: absolute;
  top: 90%;
  left: 1%;
  transform: translateY(5px); /* Adjust spacing as needed */
  white-space: nowrap;
}
.loginPageMainDiv {
  margin: 25px 0;
}

@media screen and (max-width: 768px) {
  .login_page_input {
    width: 35vw;
  }
}

@media screen and (max-width: 426px) {
  .login_page_input {
    width: 60vw;
  }
}

@media screen and (max-width: 375px) {
  .login_page_input {
    width: 65vw;
  }
}
